<div class="app-person-profile-container">
  <!-- PERSON PROFILE COMPONENT -->
  <div class="app-person-profile docs-highlight docs-blue" data-intro="Person Profile" data-position="bottom">
    <!-- PERSON PROFILE HEADER -->
    <div class="app-person-profile-header">
      {{content.firstName}}
    </div>
  </div>
</div>
