<div class="app-address-book">
  <!-- LEFT COLUMN -->
  <div class="app-directory-container">
    <!-- DIRECTORY COMPONENT -->
    <div class="app-directory" {{action 'showRightColumn'}}>
      {{#each item in content}}
        <div class="app-directory-item">

          {{#link-to 'address-book.person' item}}
            {{item.firstName}} {{item.lastName}}
          {{/link-to}}

        </div>
      {{/each}}
    </div>
  </div>
</div>

{{outlet}}
